 <div style= "padding-left: 10px;">
<h1>New Photo</h1>
<form id="new-photo-form" action="/photos" method="post" enctype="multipart/form-data">
 <label for="title">Title: </label>
   <input id="title" type="text" name="title" value="">
   <br>
   <label for="postedPhoto">Your photo: </label>
    <input id="postedPhoto" type="file" name="postedPhoto">
   <br>
  <label for="desc">Description: </label>
  <input id="desc" type="text" name="desc" value="">
  <br>
  <br>
  <input class="btn btn-primary btn-lg outline" type="submit" value="Submit">
</form>
<form action='/posts' method ='GET'>
<button type="submit" class="btn btn-primary btn-lg outline" style="display: block; margin-left: auto; margin-right: auto">Back to timeline</button>
</form>
</div>