<form id="new-photo-form" action="/photos" method="post" enctype="multipart/form-data">
 <label for="title">Title: </label>
   <input id="title" type="text" name="title" value="">
   <br>
   <label for="postedPhoto">Your photo: </label>
    <input id="postedPhoto" type="file" name="postedPhoto">
   <br>
  <label for="desc">Description: </label>
  <input id="desc" type="text" name="desc" value="">
  <br>
  <input type="submit" value="Submit">
</form>