 <div style= "padding-left: 10px;">
 <h1>Sign up</h1>
 
<form id="new-user-form" action="/users" method="post" enctype="multipart/form-data">
  <label for="email">Email: </label>
  <input id="email" type="email" name="email" value="">
  <br>
  <label for="password">Password: </label>
  <input id="password" type="password" name="password" value="">
  <br>
  <label for="username">Username: </label>
  <input id="usernmae" type="text" name="username" value="">
  <br>
  <label for="profilePhoto">Profile photo: </label>
  <input id="photo" type="file" name="photo">
  <br> 
  <br>
  <input type="submit" value="Submit">
</form>
</div>